{% extends 'base.html' %}

{% block title %}{{ product['Name'] }}{% endblock %}

{% block content %}
    <h2>{{ product['Name'] }}</h2>
    <img src="{{ url_for('static', filename=product['ProductPicUrl']) }}" alt="{{ product['Name'] }}">
    <p>{{ product['Description'] }}</p>
    <p>Price: {{ product['Price'] }} {{ product['CurrencyCode'] }}</p>
    <form action="{{ url_for('add_product_to_cart', product_id=product['ProductId']) }}" method="POST">
        <button type="submit" class="button">Add to Cart</button>
    </form>
{% endblock %}
