<!DOCTYPE html>
<html>
<head>
    <title>{{ person.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ person.name }}</h1>
    <p><strong>Email:</strong> {{ person.email }}</p>
    <p><strong>Address:</strong> {{ person.address }}</p>
    <p><strong>Phone number(s):</strong></p>
    <ul>
        {% for phonenumber in person.phonenumbers %}
        <li>{{ phonenumber.number }}</li>
        {% endfor %}
    </ul>
</body>
</html>
