{% extends 'base.html' %}

{% block title %}Add Film - IMDI{% endblock %}

{% block content %}
    <h1>Add Film</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.title.label }} {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.release_date.label }} {{ form.release_date }}
        </div>
        <div class="mb-3">
            {{ form.created_in_country.label }} {{ form.created_in_country }}
        </div>
        <div class="mb-3">
            {{ form.available_in_countries
