{% extends 'partials/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Add Director</h1>
        <form method="POST" action="{{ url_for('films.addDirector') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
