{% extends 'partials/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
 {% for film in films %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ film.title }}</h5>
                            <p class="card-text">Release Date: {{ film.release_date.strftime('%B %d, %Y') }}</p>
                            <p class="card-text">Director(s): {% for director in film.directors %}{{ director.first_name }} {{ director.last_name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                            <p class="card-text">Category: {% for category in film.categories %}{{ category.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                            <p class="card-text">Created in: {{ film.created_in_country.name }}</p>
                            <p class="card-text">Available in: {% for country in film.available_in_countries %}{{ country.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}